
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #41514E;
}

h1{
  font-size: 500%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
    line-height: 2;
}

hr{
  width: 5%;
  border: dotted  6px;
  border-bottom: none;
  margin: 100px auto;
  /*color: #eaf6f6*/
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.footer-link{
  color: #11999E;

}

.skill-row{
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.intro{
  width: 30%;
  margin: auto;
}

.p2{
  float: left;
  margin-right: 40px;
}

.p3{
  float: right;
  margin-left: 40px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
